/* =====================
   ENTETE AVENTURE
===================== */


.entete-aventure {

    text-align:center;

    margin-bottom:40px;

}


.entete-aventure .embleme {

    text-align:center;

}



/* =====================
   FICHE AVENTURE
===================== */


.fiche-aventure {

    max-width:1000px;

    margin:auto;

    display:grid;

    gap:30px;

}





.info-aventure,
.histoire-aventure,
.objectifs-aventure,
.details-aventure {


    padding:35px;


    text-align:center;


    border-radius:25px;


    border:

    2px solid var(--or-guilde);



    background:

    linear-gradient(

        145deg,

        rgba(212,175,55,0.15),

        rgba(0,0,0,0.75)

    );



    box-shadow:

    0 0 30px rgba(212,175,55,0.25);

}





.fiche-aventure h2 {

    color:

    var(--or-lumiere);



    margin-bottom:20px;


    font-size:30px;

}





.fiche-aventure p {

    color:

    var(--gris-texte);



    font-size:18px;


    line-height:1.7;

}





.objectifs-aventure ul {

    list-style:none;


    padding:0;

}





.objectifs-aventure li {

    margin:15px 0;


    padding-left:25px;


    color:white;

}





.objectifs-aventure li::before {

    content:"⚔️";


    margin-right:10px;

}





.details-aventure strong,
.info-aventure strong {

    color:

    var(--or-lumiere);

}





/* =====================
   IMAGE AVENTURE
===================== */


.image-aventure {

    width:250px;

    height:250px;

    object-fit:contain;



    border-radius:20px;



    border:

    3px solid var(--or-guilde);



    box-shadow:

    0 0 25px var(--orange-magie),

    0 0 50px var(--violet-magie);



    margin-bottom:30px;


    background:

    rgba(0,0,0,0.4);

}





/* =====================
   SOUVENIRS AVENTURE
===================== */


.souvenirs-aventure {


    padding:35px;


    text-align:center;


    border-radius:25px;



    border:

    2px solid var(--violet-magie);



    background:

    linear-gradient(

        145deg,

        rgba(124,58,237,0.15),

        rgba(0,0,0,0.75)

    );



    box-shadow:

    0 0 30px rgba(124,58,237,0.25);

}





.souvenirs-aventure h2 {

    color:

    var(--or-lumiere);

}





.liens-souvenirs {


    display:flex;


    justify-content:center;


    align-items:center;


    gap:20px;


    flex-wrap:wrap;


    margin-top:25px;

}





.liens-souvenirs a {


    padding:15px 25px;



    border-radius:30px;



    border:

    2px solid var(--or-guilde);



    background:

    rgba(0,0,0,0.5);



    transition:0.3s;

}





.liens-souvenirs a:hover {


    transform:scale(1.05);



    box-shadow:

    0 0 20px var(--orange-magie);

}





/* =====================
   RETOUR HALL
===================== */


.retour-aventure {

    text-align:center;

    margin-top:40px;

}